[Unit]
Description=MediaHive Compressor Manager
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/mh-compressor-manager --config /etc/mediahive/compressor-manager.conf
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
